<!-- SETUP: This component serves as the landing page's main content (hero section) --><!-- NOTE: this page has been based on fjall-rs.github.io and modified -->
<div style="margin-top: 10px; width: 100%; display: flex; justify-content: center">
  <img style="border-radius: 16px; max-height: 150px" src="/media/logo.png" />
</div>

<section id="projects">
  <h3 class="text-pink-700 dark:text-pink-300 text-xl font-medium text-center mb-4">
    Embeddable Aggregate Management for Streams and Queries
  </h3>

  <div class="md:grid-cols-3 grid grid-cols-2 gap-4 sm:grid-cols-3">
    <a
      href="https://github.com/uwheel/uwheel"
      target="_blank"
      class="flex flex-col gap-2 rounded-lg border border-gray-500 border-opacity-30 bg-white bg-opacity-5 p-3 transition-all hover:border-blue-400 hover:bg-blue-400 hover:bg-opacity-5"
    >
      <div class="flex items-center justify-between gap-2">
        <h3 class="text-blue-600 dark:text-blue-400 text-xl font-medium">Code</h3>
        <div class="rounded bg-black bg-opacity-20 px-2 py-1 text-xs font-semibold">
          Apache 2.0 or MIT
        </div>
      </div>
      <div class="opacity-75">
        µWheel is a Rust-based system engineered for high performance and minimal resource usage
      </div>
    </a>

    <a
      href="https://uwheel.rs/uwheel"
      target="_blank"
      class="flex flex-col gap-2 rounded-lg border border-gray-500 border-opacity-30 bg-white bg-opacity-5 p-3 transition-all hover:border-emerald-400 hover:bg-emerald-400 hover:bg-opacity-5"
    >
      <div class="flex items-center justify-between gap-2">
        <h3 class="text-emerald-600 dark:text-emerald-400 text-xl font-medium">Demo</h3>
      </div>
      <div class="opacity-75">
        Try out µWheel directly in the browser through an interactive demo
      </div>
    </a>
    <a
      href="https://maxmeldrum.com/assets/files/uwheel_debs24.pdf"
      target="_blank"
      class="flex flex-col gap-2 rounded-lg border border-gray-500 border-opacity-30 bg-white bg-opacity-5 p-3 transition-all hover:border-amber-500 hover:bg-amber-500 hover:bg-opacity-5"
    >
      <div class="flex items-center justify-between gap-2">
        <h3 class="text-amber-600 dark:text-amber-400 text-xl font-medium">Research</h3>
      </div>
      <div class="opacity-75">Learn more about the award-winning research behind µWheel</div>
    </a>
  </div>
</section>
